body {
    text-align:left;
    direction:ltr;
}
.icon_list > li {
    padding: 2px 0 2px 10px;
}
.top-header h1 {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: #687188;
    padding-top: 5px;
}
@media (min-width: 992px) {
    .offset-lg-3 {
        margin-left: 25%;
    }
}

@media (min-width: 992px) {
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInleft;
}
.page-title {
    text-align: right;
}
.breadcrumb {
    float:left;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: .5rem;
}
    .breadcrumb-item + .breadcrumb-item::before {
        padding-right: .5rem;
    }