<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminSite1.master.cs" Inherits="_DoctorYab.Admin.AdminSite1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مدیریت دکتریاب ایران</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link href="/fonts/web-fonts-with-css/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/fonts/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="/fonts/web-fonts-with-css/css/fa-solid.min.css" rel="stylesheet" />
    <link href="/fonts/web-fonts-with-css/css/fa-regular.min.css" rel="stylesheet" />
    <link href="/fonts/web-fonts-with-css/css/fa-brands.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/css/icons.css' type='text/css' media='all' />
    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="assets/css/persian.css?new11" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

        <div id="wrapper">
            <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">&nbsp; </a>
                </div>

                <div class="header-right">
                    <asp:FormView ID="FormView1" runat="server" DataSourceID="SqlDataSource1" CssClass="msg-count">
                        <ItemTemplate>
                            <a href="mssages.aspx" class="btn btn-info" title="پیام های جدید"><b><%#Eval("newMsg") %> </b>
                                <i class="fa fa-envelope fa-2x"></i></a>
                        </ItemTemplate>
                    </asp:FormView>
                    <%-- <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i
                        class="fa fa-bars fa-2x"></i></a>--%>
                    <asp:LinkButton ID="LinkButton1" runat="server" class="btn btn-danger" title="خروج" OnClick="LbSignOut_Click"><i class="fa fa-arrow-right fa-2x"></i></asp:LinkButton>
                    <asp:Label ID="LbUser" runat="server" Text=""></asp:Label>
                </div>
                <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:DbWebSiteConnectionString %>"
                    SelectCommand="selectSummery" SelectCommandType="StoredProcedure"></asp:SqlDataSource>
            </nav>
            <!-- /. NAV TOP  -->
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li>
                            <div class="user-img-div">
                                <img src="/images/logo45.png" class="img-thumbnail" />

                                <div class="inner-text nav-title">
                                    <a href="/Default.aspx" target="_blank">دکتریاب ایران</a>
                                    <br>
                                </div>
                            </div>
                        </li>


                        <li>
                            <a class="active-menu" href="home.aspx"><i class="fa fa-home "></i>داشبورد</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-stethoscope"></i>پزشکان <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="doctors.aspx"><i class="fa fa-cutlery"></i>لیست پزشکان</a>
                                </li>
                                <li>
                                    <a href="branch.aspx"><i class="fa fa-cutlery"></i>دسته بندی پزشکان</a>
                                </li>
                                <li>
                                    <a href="addDoctor.aspx"><i class="fa fa-cutlery"></i>افزودن پزشک</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="mssages.aspx"><i class="fa fa-envelope"></i>پیام ها </a>
                        </li>
                        <li>
                            <a href="banner.aspx"><i class="fa fa-photo"></i>بنر سایت </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-stethoscope"></i>تبلیغات <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="adver.aspx"><i class="fa fa-photo"></i>تبلیغات صفحه اصلی </a>
                                </li>
                                 <li>
                                    <a href="video.aspx"><i class="fa fa-video-camera"></i>ویدئو ها </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="city.aspx?sid=0"><i class="fa fa-map-marker"></i>شهرها</a>
                        </li>
                        <li>
                            <a href="blog.aspx"><i class="fa fa-edit"></i>مطالب</a>
                        </li>
                        <li>
                            <a href="about.aspx"><i class="fa fa-info"></i>درباره ما </a>
                        </li>
                        <li>
                            <a href="advantage.aspx"><i class="fa fa-info"></i>خدمات </a>
                        </li>
                        <li>
                            <a href="keyword.aspx"><i class="fa fa-info"></i>کلمات کلیدی </a>
                        </li>
                        <li>
                            <a href="images.aspx"><i class="fa fa-picture-o"></i>آپلود تصاویر </a>
                        </li>
                        <li>
                            <a href="#.aspx"><i class="fa fa-cogs"></i>تنظیمات </a>
                        </li>
                    </ul>

                </div>

            </nav>
            <div id="page-wrapper">
                <div id="page-inner">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->
        <div id="footer-sec">
            &copy;  دکتر یاب
        </div>
        <!-- /. FOOTER  -->
        <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
        <!-- JQUERY SCRIPTS -->
        <script src="assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="assets/js/bootstrap.js"></script>
        <!-- METISMENU SCRIPTS -->
        <script src="assets/js/jquery.metisMenu.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="assets/js/custom.js"></script>
    </form>
</body>
</html>
